<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.thirteen">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thirteen_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/thirteen_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BidEntryActivity"
            android:label="@string/lblBid"
            android:parentActivityName=".ScoreSheetActivity" />
        <activity
            android:name=".NameEntryActivity"
            android:label="@string/lblName"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScoreEntryActivity"
            android:label="@string/lblScore"
            android:parentActivityName=".ScoreSheetActivity" />
        <activity
            android:name=".ScoreSheetActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GameFaceActivity"
            android:parentActivityName=".NameEntryActivity"
            android:theme="@style/Dialog"
            android:label="Game Face"/>
    </application>

</manifest>